.domevent1 {
  border: 2px solid red;
  background-color: green;
  color: white;
  font-weight: bold;
}

.domevent1:hover {
  background-color: blue;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#time {
  color: red;
}

.display-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  color: white;
  background-color: black;
}

#dateBtn {
  background-color: red;
  font-weight: bold;
  color: white;
  padding: 4px;
}

#dateBtn:hover {
  background-color: blue;
}

#mouse-hover {
  background-color: red;
  color: white;
  width: 20%;
  padding: 10px;
}